.container {
  margin: 0 auto;
  max-width: 1200px;
  font-family: sans-serif;
}
.heading {
  color: rgb(22, 136, 171);
  font-family: sans-serif, "Inter";
}
.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;
}
.nav-links {
  display: inline-block;
  text-align: left;
}
nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}
nav a:hover {
  border-color: #bbb;
}
.nav-link-text {
  color: black;
}
.site-title {
  font-size: 3rem;
  color: rgb(110, 110, 110);
  font-weight: 700;
  margin: 3rem 0;
}
.footer {
  text-align: center;
  color: #bbb;
  margin: 100px auto;
}
/* .section-header h1 {
    color: red
} */
/* .sidebar {
    width: 300px; 
    flex-shrink: 0;
    padding: 20px;
    background-color: #f0f0f0;
} */
/* h1 { font-size:2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; } */
